
.btn-src{
	background-color: #f1f1f1;
	border:2px solid #f1f1f1;
	padding:6px 15px;
	border-radius: 5px;
}
.btn-src:hover{
  border-color:red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.btn-src:active{
	background-color: red;
	border:1px solid grey;
	color: white;
	padding:6px 15px;
}

li:hover{
	background-color: #f7f7f7;
}



/*order table*/
table{
	color: grey;
}
.list-group{
	margin-left: 5%;
	margin-right: 5%;
}

.list-group-item{
padding: 5px;
}


/*featured ribbom*/
.ribbon{
	padding: 2px 5px;
	color: white;
	background-color: #d9534f;
	position: absolute;
}